[user]
	name = Krishn Ramesh
	email = krishnr@gmail.com
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[core]
	excludesfile = /Users/Krishn/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = simple
[alias]
    s = status
    c = commit -m
    p = push origin HEAD
    ss = status -s
    co = checkout
    cob = checkout -b
    a = add
    aa = add .
    undo = reset --soft HEAD^
    d = diff
    f = fetch
    unstage = reset HEAD *
